@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    font-family: sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}

:root { /* Mainbox size and margin top for 3D window */
    --mainbox-height: 200vw;
    --mainbox-3D-height-margin: -200vw;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: white;
}

#MainBox {
    display: flex;
    width: 100%;
    height: var(--mainbox-height);
    flex-direction: column;
    justify-content: center;

    background-color: deeppink;
}

.three-canvas {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: var(--mainbox-3D-height-margin);
    object-fit: cover;
    position: relative;
}

div.introBox {
    display: flex;
    width: 100%;
    height: 55vw;
    flex-direction: column;
    margin-top: -148vw;
    object-fit: cover;
    position: relative;
}

div.topIntroBox {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: row;
}

div.textIntroBox {
    display: flex;
    width: 50%;
    height: 100%;
}

div.profileBox {
    display: flex;
    width: 50%;
    height: 100%;
}

div.bottomIntroBox {
    display: flex;
    width: 100%;
    height: 50%;
}

h1.introTitle1 {
    z-index: 3;
    font-family: "Orbitron", sans-serif;
    margin-top: 2vw;
    margin-left: 3vw;
    font-weight: 500;
    font-size: 8vw;
    color: #CB8011;
}

h2.introTitle2 {
    z-index: 3;
    font-family: "Orbitron", sans-serif;
    margin-top: 9.5vw;
    margin-left: -46.2vw;
    font-weight: 500;
    font-size: 8vw;
    color: #CB8011;
}
